@if (User.Identity!.IsAuthenticated)
{
    <div class="container">
        <div id="header-user">
            <p>@User.Identity.Name</p>
        </div>
        <div id="header-button">
            <a asp-controller="UserProduct" asp-action="Index">
                <i class="fa-solid fa-basket-shopping">
                </i>
            </a>
        </div>
        <button id="header-logout">
            <a style="color:white" asp-controller="Auth" asp-action="LogOut">Çıkış Yap</a>
        </button>
        <div id="header-basket">
            <div id="basket-quit">
                <i class="fa-solid fa-x"></i>
            </div>
            
            @await Component.InvokeAsync("MyCart")
        </div>
    </div>
}